@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
body{
   background-color: black;
   color: #fff; 
}
::-webkit-scrollbar{
    display: none;
}


@keyframes moveLeftToRight {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}
.animate-move {
  animation: moveLeftToRight 5s linear infinite;
}

.animate-shimmer {
  background-size: 1000px 100%;
  animation: shimmer 2s infinite linear;
}


@font-face {
    font-family: 'Russo';
    src: url('/fonts/RussoOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'SF Distant Galaxy';
    src: url('/fonts/SF-Distant-Galaxy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Reospec';
    src: local('Reospec'), url('/fonts/Reospec.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
