@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
body{
    @apply bg-black text-[rgb(255,255,255)] 
}

@font-face {
    font-family: 'SF Distant Galaxy AltOutline';
    src: url('./assets/fonts/SF-Distant-Galaxy-AltOutline.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  